@import './reset.scss';
@import './fonts.scss';
* {
  @include disableDefaultAction();
}
:root {
  --scroll: 0;
}
/* setup viewport */
html {
  @include setHTML;
  background: $main-bg;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  font-family: 'Inter', Arial, Helvetica, sans-serif, serif;
  body {
    width: 100%;
    font-size: 0.2rem;
    color: #fff;
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.1s ease-in;
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }
  .list-enter-active,
  .list-leave-active {
    transition: all 0.5s ease;
  }
  .list-enter-from,
  .list-leave-to {
    opacity: 0;
    transform: translateX(0.3rem);
  }
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  transition: 0.3s;

  &:hover {
    filter: brightness(1.1);
  }
  @include mobile {
    &:hover {
      filter: unset;
    }
  }
}
@keyframes title-slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
