@use './reset.scss';
@use './fonts.scss';

:root {
  --scroll: 0;
}
/* setup viewport */
html {
  background: $white-bg;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  font-family: 'Inter', Arial, Helvetica, sans-serif, serif;
  overflow-x: hidden;
  @include setHTML;
  letter-spacing: 0.5px;
  body {
    width: 100%;
    font-size: 0.2rem;
    color: $black-primary;
    #app {
      min-height: 100svh;
      margin: 0 auto;
    }
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.1s ease-in;
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }
  .list-enter-active,
  .list-leave-active {
    transition: all 0.5s ease;
  }
  .list-enter-from,
  .list-leave-to {
    opacity: 0;
    transform: translateX(0.3rem);
  }
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  transition: 0.3s;

  &:hover {
    filter: brightness(1.1);
  }
  @include mobile {
    &:hover {
      filter: unset;
    }
  }
}
@keyframes title-slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
