/* media query */
$queryLG: 1440; // PC
$queryMD: 1334; // Mobile(landscape)
$querySM: 750; // Mobile(portrait)
$queryXS: 320; // Mobile(portrait)
$desktopBreakingPoint: 768; // desktop breaking point
$container-width: 14.4rem;

$default-color: #242424;

$z-index-map: (
  layer: 1,
  dropdowns: 5,
  topbar: 15,
  sidePanel: 15,
  modal: 20,
);

$main-bg: #18475b;
