/* media query */
$queryLG: 1440; // PC
$queryMD: 1024; // Mobile(landscape)
$querySM: 744; // Mobile(portrait)
$queryXS: 320; // Mobile(portrait)
$desktopBreakingPoint: 768; // desktop breaking point
$container-width: 14.4rem;

$default-color: #242424;

$z-index-map: (
  layer: 1,
  dropdowns: 5,
  topbar: 15,
  sidePanel: 15,
  modal: 20,
);

$main-bg: #18475b;
$white-bg: #f3f4f5;
$green-primary: #c8e14b;
$black-primary: #101e24;

$title-font-size: 0.4rem;
$title-font-size-m: 0.36rem;
$supplement-font-size: 0.2rem;
$supplement-font-size-m: 0.16rem;
$desc-font-size: 0.28rem;
$desc-font-size-m: 0.24rem;
